---
import "@styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" />
    <meta name="generator" content={Astro.generator} />
    <title>QRCode Component</title>
  </head>
  <body
    class="min-h-screen flex flex-col justify-center items-center bg-slate-300"
  >
    <slot />
  </body>
</html>
